<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        
        <httpPlatformHandler processPath="node.exe"
                             arguments=".\node_modules\next\dist\bin\next start -p %HTTP_PLATFORM_PORT%"
                             startupTimeLimit="20"
                             startupRetryCount="10"
                             stdoutLogEnabled="true"
                             stdoutLogFile=".\logs\node.log">
            <environmentVariables>
                <environmentVariable name="NODE_ENV" value="production" />
            </environmentVariables>
        </httpPlatformHandler>

        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>